#box1{
    width: 200px;
    height: 200px;
    background-color: aquamarine;
    
    /* position: relative;
    top: 100px;
    left: 100px; */

    /* position: fixed;
    right: 0px;
    bottom: 0px; */

    /* position: relative;
    top:100px;
    left: 100px; */

    /* position: sticky;
    top: 0px; */

    position: static;
}    

#box2{
    width: 100px;
    height: 100px;
    background-color: aqua;
    /* position: absolute; */
    position: static;
    top: 50px;
    left: 50px;
}