.gallery{
    display: inline-block;
    border: 1px solid aqua;
    margin: 5px;
    width: 400px;
}
.gallery .description{
    padding: 10px;
    text-align: center;
}
.gallery:hover{
    border: 1px solid aquamarine;
}
.gallery img{
    width: 100%;
    height: auto; /* height is auto by default */
}